<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104978028068-fjn4r7r3ufa89d4vhpbais9u4skmi7vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104978028068-fjn4r7r3ufa89d4vhpbais9u4skmi7vv</string>
	<key>API_KEY</key>
	<string>AIzaSyDkXkx1heXwlw6YFrhogPPMfubLqzL9sqU</string>
	<key>GCM_SENDER_ID</key>
	<string>104978028068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testing</string>
	<key>PROJECT_ID</key>
	<string>microme-115</string>
	<key>STORAGE_BUCKET</key>
	<string>microme-115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104978028068:ios:eb3d7832eed3698e53aab1</string>
</dict>
</plist>